* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

/* It's an awkward decision, but we let it linger for now. */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}

:root {
  --default-background-color: #fdfdfd;
  --default-font-family: Inconsolata, monospace;

  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--default-background-color);
}
